{% extends 'base.html.twig' %}

{% block title %}Edit Expense{% endblock %}

{% block body %}
    <h1>Edit Expense</h1>

    {{ include('user_expense/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_expense_index') }}">back to list</a>

    {{ include('user_expense/_delete_form.html.twig') }}
{% endblock %}
